.container {

  .header {
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: 992px){
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    .title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 12px;

      @media screen and (min-width: 992px){
        margin-bottom: 0;
      }
    }
  }

  .posts {
    display: grid;
    gap: 24px;

    @media screen and (min-width: 992px){
      grid-template-columns: repeat(3, 1fr);
    }
  }
}