.container {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .title {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .posts {
    display: grid;
    gap: 24px;

    @media screen and (min-width: 992px){
      grid-template-columns: repeat(3, 1fr);
    }
  }
}