@import "src/styles/variables";

.container {
  .table {
    width: 100%;
    border: 1px solid $light-grey;
    border-collapse: collapse;
    border-radius: $border-radius;

    th, td {
      padding: 12px 18px;
    }

    th {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      text-align: left;
    }

    tr {
      border: 1px solid $light-grey;;
    }

    td {
      vertical-align: middle;
      background-color: $white;
    }

    .userName, .userCity {
      font-weight: 500;
    }

    .userName {
      margin-bottom: 6px;
    }

    .userEmail {
      color: $dark-blue;

      &:hover {
        color: $blue;
      }
    }
  }
}